@import url(https://fonts.googleapis.com/css?family=Nunito);.animate-left-cubic-superfast {
  -webkit-animation: 0.2s leftCubic cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
          animation: 0.2s leftCubic cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
}

.animate-left-cubic-fast {
  -webkit-animation: 0.3s leftCubic cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
          animation: 0.3s leftCubic cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
}

.animate-left-cubic-slow {
  -webkit-animation: 0.7s leftCubic cubic-bezier(0.86, 0, 0.07, 1) 0.4s both;
          animation: 0.7s leftCubic cubic-bezier(0.86, 0, 0.07, 1) 0.4s both;
}

.animate-right-cubic-fast {
  -webkit-animation: 0.3s rightCubic cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
          animation: 0.3s rightCubic cubic-bezier(0.86, 0, 0.07, 1) 0.2s both;
}

.animate-right-cubic-slow {
  -webkit-animation: 0.7s rightCubic cubic-bezier(0.86, 0, 0.07, 1) 0.4s both;
          animation: 0.7s rightCubic cubic-bezier(0.86, 0, 0.07, 1) 0.4s both;
}

@-webkit-keyframes leftCubic {
  0% {
    -webkit-transform: translate(50vw);
            transform: translate(50vw);
  }

  20% {
    opacity: 1;
  }

  100% {
    -webkit-transform: 0;
            transform: 0;
  }
}

@keyframes leftCubic {
  0% {
    -webkit-transform: translate(50vw);
            transform: translate(50vw);
  }

  20% {
    opacity: 1;
  }

  100% {
    -webkit-transform: 0;
            transform: 0;
  }
}

@-webkit-keyframes rightCubic {
  0% {
    -webkit-transform: translate(-50vw);
            transform: translate(-50vw);
    opacity: 0;
  }

  100% {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

@keyframes rightCubic {
  0% {
    -webkit-transform: translate(-50vw);
            transform: translate(-50vw);
    opacity: 0;
  }

  100% {
    -webkit-transform: 0;
            transform: 0;
    opacity: 1;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: #ffffff;
  background: #3d52a9;
  border-bottom: 1px solid #3d52a9;
}

.header .page-icon {
  grid-column: 1/1;
  grid-row: 1;
  padding: 0.5rem;
}

.header .page-icon i {
  font-weight: 900;
  font-size: 250%;
}

.header .page-title {
  grid-column: 3/5;
  grid-row: 1;
  text-align: center;
}

.header .page-title .title {
  font-weight: 900;
  font-size: 125%;
}

.header .page-title .subtitle {
  font-weight: 700;
  font-size: 90%;
}

.main {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-gap: 2rem;
}

.main .title {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 150%;
  text-transform: uppercase;
  text-align: center;
}

.main .text p {
  margin-top: 1rem;
  text-align: left;
  font-family: 'Questrial', sans-serif;
  font-size: 100%;
  font-weight: 500;
}

.main .text .link {
  float: right;
  padding: 0.25rem 0.5rem;
  border: 1px solid #000000;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .text .link:hover {
  cursor: pointer;
  color: #ffffff;
  background: #404040;
}

.main img {
  max-width: 100%;
  max-height: 100%;
}

.main .developer {
  grid-column: 2/3;
  grid-row: 1;
  padding: 1rem 3rem;
  border-bottom: 1px solid #dee0df;
  border-right: 1px solid #dee0df;
  -webkit-box-shadow: 2px 2px 3px 0px #e5e6e6;
          box-shadow: 2px 2px 3px 0px #e5e6e6;
}

.main .developer .text p {
  text-align: right;
}

.main .developer-image {
  grid-column: 3/4;
  grid-row: 1;
}

.main .developer-image img {
  -webkit-box-shadow: -2px 2px 3px 0px #a6a6a6;
          box-shadow: -2px 2px 3px 0px #a6a6a6;
}

.main .intro {
  grid-column: 3/4;
  grid-row: 2;
  padding: 1rem 3rem;
  background: #4dc0b5;
  -webkit-box-shadow: -2px 2px 3px 0px #7bd1c8;
          box-shadow: -2px 2px 3px 0px #7bd1c8;
}

.main .intro-image {
  grid-column: 2/3;
  grid-row: 2;
  text-align: right;
}

.main .intro-image img {
  -webkit-box-shadow: 2px 2px 3px 0px #00998a;
          box-shadow: 2px 2px 3px 0px #00998a;
}

.main .content {
  grid-column: 2/3;
  grid-row: 3;
  padding: 1rem 3rem;
  background: #6cb2eb;
  -webkit-box-shadow: 2px -2px 3px 0px #8fc4f0;
          box-shadow: 2px -2px 3px 0px #8fc4f0;
}

.main .content-image {
  grid-column: 3/4;
  grid-row: 3;
  text-align: left;
}

.main .content-image img {
  padding: 1rem;
  border-top: 1px solid #dee0df;
  border-left: 1px solid #dee0df;
  -webkit-box-shadow: -2px -2px 3px 0px #e5e6e6;
          box-shadow: -2px -2px 3px 0px #e5e6e6;
}

.menu {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
  width: 45rem;
  top: 6rem;
  right: -31rem;
  z-index: 10000;
}

.menu .link {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.menu .link .icon {
  float: right;
  position: relative;
  width: 45px;
  height: 30px;
  margin-right: 2rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu .link .icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu .link .icon span:nth-child(1) {
  top: 0px;
}

.menu .link .icon span:nth-child(2) {
  top: 14px;
}

.menu .link .icon span:nth-child(3) {
  top: 28px;
}

.menu .link .icon.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu .link .icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menu .link .icon.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu .link .icon.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu .link .icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menu .link .icon.open span:nth-child(3) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu .items {
  grid-column: 3;
  grid-row: 3;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 0.25rem;
}

.menu .items .item {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 0.5rem 1rem;
  padding-right: -1rem;
  color: #ffffff;
  text-transform: uppercase;
  background: #3d52a9;
  border: 1px solid #3d52a9;
  border-right: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menu .items .item:hover {
  padding-right: 2rem;
  cursor: pointer;
  color: #3d52a9;
  background: #ffffff;
}

.menu .items .item .icon {
  font-size: 125%;
  text-align: left;
}

.menu .items .item .text {
  padding-top: 0.25rem;
  text-align: right;
}

.menu .items .active {
  color: #3d52a9;
  background: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 2rem;
}

.grid > div {
  padding: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

