.header {
    color: $white;
    background: $blueberry;
    border-bottom: 1px solid $blueberry;

    .page-title
    {
        font-weight:900;
        font-size:125%;
    }

    .page-subtitle
    {
        font-weight:700;
        font-size:90%;
    }
}